<%- include partials/header %>
    
    <section #id="jumbotronSection" class="">
        <div id= "loginHeader" class="jumbotron jumbotron-fluid py-lg-5">
            <div id="jumboContent" class="container">
                    <h1 class= "display-4">UH SMART CAMPUS</h1>
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius natus nam tenetur hic quia?</p>
                    <a class="btn btn-outline-primary btn-lg mt-3" href="#" role="button"><span class="align-middle">Learn more</span><i class="align-middle fas fa-arrow-circle-right ml-3"></i></a>
                </div>
            </div>
    </section>
    <section id="form" class="container pt-1">
        <div class="card col-md-8 col-lg-6 p-0 mx-auto">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab"
                            aria-controls="home" aria-selected="true">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#signUp" role="tab"
                            aria-controls="profile" aria-selected="false">SIGN UP</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <!-- Login Form -->
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <form action="/login" method="POST" class="px-3 pt-3">
                            <div class="form-group">
                                <label for="loginEmail1">Email address</label>
                                <input type="email" class="form-control" id="loginEmail1" name="email" aria-describedby="emailHelp"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword1">Password</label>
                                <input type="password" class="form-control" id="loginPassword1" name="password" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Login</button>
                        </form>
                    </div>

                    <!-- Sign Up Form -->
                    <div class="tab-pane fade" id="signUp" role="tabpanel" aria-labelledby="Sign Up-tab">
                        <form action="/user" method="POST" class="px-3 pt-3">
                            <div class="form-group">
                                <label for="firsName">First name</label>
                                <input type="text" class="form-control" id="firsName" name="firstName" aria-describedby="firstName"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="lastName"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="signUpEmail">Email address</label>
                                <input type="email" class="form-control" id="signUpEmail" name="email" aria-describedby="emailHelp"
                                    placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="signUpPassword">Password</label>
                                <input type="password" class="form-control" id="signUpPassword" name="password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="retypePassword">Re-type password</label>
                                <input type="password" class="form-control" id="retypePassword" name="retypePassword" placeholder="">
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
                        </form>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div id="messageArea">
            <p><%=message && message%></p>
        </div>
    </section>

<%- include partials/footer %>